<h3>List of Comments</h3>

<a href='/comments/new'>Post Comment</a>

<% if @comments.any? %>
	<ul style="list-style-type:circle">
		<% @comments.each do |c| %>
			<li>
				<a href="/comments/<%=c.id%>"><%= c.comment_txt %>
				</a>  </br>
				Dated: <%= c.created_at %>
			</li>
			</br>
		<%end%>
	</ul>
<%else %>
	<p>No Comments Found</p>
<% end %>
