<h3>Contact Me:
  <ul>
    <li><a href="https://www.linkedin.com/in/shreyaspadhye/" target="_blank">LinkedIn</a></li> </br>
    <li><a href="http://shreyas.pw" target="_blank">Website</a></li> </br>
    <li><a href="mailto:spadhye@scu.edu" target="_blank">Email</a></li> </br>
  </ul>
</h3>
