<h3>Log in to proceed</h3>
# <% if flash[:notice] %>
# <p style="color:red"><i>Login attempt failed. Check credentials</i></p>
# <% end %>
<form action="/login" method='post'>
  username:
  <input type='text' name='username'></input><br>
  password:
  <input type='password' name='password'></input>
  <br>
  <input type='submit' name='submit'></input>
</form>
