# <% if flash[:notice] %>
# <p align="center" style="color:green"><i>Successfully Logged in</i></p>
# <% end %>

<h3>List of Students</h3>

<a href='/students/new'>Create a new student</a>

<% if @students.any? %>
	<ul style="list-style-type:circle">
		<% @students.each do |s| %>
			<li>
				<a href="/students/<%=s.id%>">
					<%=s.scuid%>:
					<%=s.firstname%>
					<%=s.lastname%>
				</a>
			</li>
			</br>
		<%end%>
	</ul>
<%else %>
	<p>No Student Records Found</p>
<% end %>
